
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0e387a;
    color: #9fafca;
}

header{
    text-align: center;
}

h1{
    font-size: 60px;
}

img{
    text-align: right;
}

nav{
    word-spacing: 30px;
}

a{
    color: #0e387a; 
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;

}

h2{
    /*background-color: white;*/
    color: #0e387a; 
}

.alignright{
    float: right;
}

.highlight{
    padding: 4px 10px; 
    background-color: #9fafca;
}