
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0e387a;
    color: #9fafca;
}

header{
    text-align: center;
}

h1{
    font-size: 60px;
}

img{
    text-align: right;
}

nav{
    word-spacing: 30px;
}

@media all and (max-device-width: 320px) {
    nav{
        display: block; 
        margin: 5px 0px; 
    }
}

a{
    color: #0e387a; 
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;

}

.gridelts{
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-template-areas:
        "e p p p"
        "e p p p"
        "s w w w"
        "s x x x"
        ;
    grid-gap: 10px;
}

h2{
    /*background-color: white;*/
    color: #0e387a; 
}

#edu{
    grid-area: e; 
    border: 3px solid #9fafca; 
    padding: 5px; 
}

#ski{
    grid-area: s; 
    border: 3px solid #9fafca; 
    padding: 5px; 
}

#pro{
    grid-area: p; 
}

#wor{
    grid-area: w; 
}

#ext{
    grid-area: x; 
}

.alignright{
    float: right;
}

.highlight{
    padding: 4px 10px; 
    background-color: #9fafca;
}

