/*this is the CSS pages*/
header{
    text-align: center;
}
nav{
    word-spacing: 30px;
}

a{
    color: black; 
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;

}
body{
    background-color: black;
    color: white;
}
h2{
    /*background-color: white;*/
    color: black; 
}

.alignright{
    float: right;
}

.highlight{
    background-color: white;
}